@use './variables' as *;
@use './mixins' as *;

.serie {
    background-color: $secondary_color;
    // height: 450px;
    width: 100%;

    .container {
        background-color: $secondary_color;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 1rem 0;

        .row {
            background-color: $secondary_color;
            width: 100%;
            height: 100%;
            @include flex (row, start, start);
            flex-wrap: wrap;
            gap: 2.4%;
            padding-top: 2rem;
            margin-bottom: 1rem;

            .col {
                width: calc(100% / 6) - 2%;
                height: 35%;
            
                img {
                    max-width: 100px;
                    height: 90%;
                    display: block;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: top;
                    margin-bottom: .6rem;
                }
            
                .title {
                    display: block;
                    color: $white_color;
                    text-transform: uppercase;
                    font-size: .6rem;
                    margin: .7rem 0;
                }
            }
        }

        .loader {
            margin: 0 auto;
            padding: .6rem 2.5rem;
            background-color: $primary_color;
            color: $white_color;
            display: block;
            font-style: inherit;
            border: none;
            text-transform: uppercase;
        }
    }
}