@use './variables' as *;
@use './mixins' as *;

.header-top {
    width: 100%;
    height: 20px;
    background-color: $primary_color;
    color: $white_color;

    .ms_container {
        width: 70%;
        margin: 0 auto;
        height: 100%;
        text-transform: uppercase;
        font-size: .7rem;
        @include flex(row, end, center);
    }
}

.navbar {
    @include flex(row, space-between, center);
    height: 70px;
    width: 70%;
    margin: 0 auto;
    .logo {
        @include flex(row, space-between, center);
        height: 100%;
        img {
            height: 80%;
            cursor: pointer;
        }
    }

    .options{
        height: 100%;
        @include flex(row, space-between, center);

        .options-list {    
            @include flex(row, space-between, center);
            list-style-type: none;
            color: $secondary_color;
            font-size: .6rem;
            font-weight: 700;
            gap: .6rem;
            text-transform: uppercase;
            height: 100%;
            cursor: pointer;
            margin-bottom: 0;
        }

        .list-item {
            line-height: 66px;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
        .list-item:hover {
            border-bottom: 1px solid lightskyblue;
            color: $primary_color;
            animation-name: border;
            animation-duration: 1.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    .searchbar {
        border: none;  
        direction: rtl;      
    }
    .searchbar:hover {
        animation-name: border-input;
        animation-duration: 0.7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes border {
    25% {
        border-bottom: 3px solid lightskyblue;
    }

    50% {
        border-bottom: 5px solid $primary_color;
    }

    75% {
        border-bottom: 3px solid lightskyblue;
    }
}

@keyframes border-input {
    25% {
        border-bottom: .3px solid lightskyblue;
    }

    50% {
        border-bottom: .5px solid $primary_color;
    }

    75% {
        border-bottom: .3px solid lightskyblue;
    }
}

